doctype html
html
  head
    title Sphere Online Judge
  body

    block content
    br
    hr
    footer
        a(href='http://localhost:3000/logout')
          button(style='margin-left:40px;width:100px') Sign Out
        p OK &copy; Sphere Online Judge 2020
