doctype html
html
  head
    title Sphere Online Judge
  body

    block content
    br
    hr
    footer
        if user_info
          a(href='http://localhost:3000/logout')
            button(style='width:100px') Sign Out
        p OK &copy; Sphere Online Judge 2020
