extends layout

block content
    h1(style='margin-left:500px;')='Welcome '+user_info.username
    h2(style='margin-left:400px;')="Contest id:"+contest_info.id+" Name: "+contest_info.name+" Duration:"+contest_info.duration
    br
    br
    h3(style='margin-left:20px')=question_info.name+" "+question_info.level
    p(style='margin-left:20px')=question_info.question
    br
    br
    textarea(rows='10' cols='50' name='source_code' form='formx' style='margin-left:20px')
        | Enter text here...
    form#formx(method='post')
        input(type='submit' value='Submit' style='margin-left:20px;margin-top:20px')
    
