extends layout

block content
  img(src='images/login_pic.jpg' alt='Login Pic' style='width:250px;height:100px;margin:auto;display:block')
  div(style='margin:auto;display:block;width:150px')
    form(method='POST')
      | Username:
      br
      input(type='text' name='username')
      br
      | Password:
      br
      input(type='password' name='password')
      br
      br
      input(type='submit' value='Login' style='margin-left:50px')
    ul
      each error in errors
        li(style='width:500px;margin-left:-30px')=error